.title {
  background-color: rgb(39, 160, 207);
  text-align: center;
}

.container {
  background-color: aliceblue;
  width: 50%;
  margin: 0 auto;
}

.checked {
  text-decoration: line-through;
}

@media all and (max-width: 800px) {
  .container {
    width: 90%;
  }
}